.container {
    background-color:greenyellow;
    width: 100%;
}

#col1 {
    background-color: rgb(238, 255, 0);
    border: 5px solid black;
}
#col2{
    background-color: rgb(133, 230, 22);
    border: 5px solid black;

}
#col3{
    background-color: rgb(26, 211, 109);
    border: 5px solid black;

}
#col4{
    background-color: rgb(15, 211, 201);
    border: 5px solid black;

}
h4{
text-align: justify;
}
