#col1{
    background-color: rgb(9, 255, 0);

}
#col2{
    background-color: rgb(23, 231, 231);

}
#col3{
    background-color: rgb(240, 29, 29);

}
#col4{
    background-color: rgb(255, 251, 13);

}
