
#texto{
   position: relative;
   left: 270px;
   top: -240px;
  }
#pre{
    position: relative;
    left: 270px;
    top: -236px;
}

#pre2{
    position: relative;
    left: 270px;
    top: -232px;
}
#rin {
    position: relative;
    left: 270px;
    top: -228px;
}
#colo {
    position: relative;
    left: 270px;
    top: -224px;
}
#ti {
    position: relative;
    left: 270px;
    top: -220px;
}

#pi {
    position: relative;
    left: 270px;
    top: -216px;
}
#text{
    right:200px;
}
.general{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
   
}
.card-img-topcel1{
    height: 300px;
}
#boton{
    background-color: rgb(11, 109, 2);
    border: rgb(253, 216, 6);
}


@media (max-width: 992px) {
    .general{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 10px;
    }
}


.dis1{
    background-color: white;
}
#este{
    color: rgb(255, 187, 0);    
}
#close{
    background-color: rgb(33, 20, 204);
    border: rgb(31, 0, 177);
}